* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parent {
    position: relative;
    height: 300px;
    border: 1px solid violet;
    margin: 30px;
    background-color: violet;
}

.parent .child {
    /* position: absolute; */
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(11px);
    

}